<%= form_for @message, html: {multipart: true} do |f| %>
  <div>
    <div>
      <div>
        <p class="desriptive-heading">Enter the details of your message below</p>
      </div>

      <div>
        <%= f.label :text %>
        <%= f.text_field :text, class: 'caption-input' %>
        <%= f.label :boring_level %>
        <%= f.select :boring_level, [['0', 0],['1', 1],['2', 2],['3', 3]] %>
        <%= f.label :stage %>
        <%= f.select :stage, [['0', 0],['1', 1],['2', 2],['3', 3]] %>
        <%= f.submit %>
      </div>
    </div>
  </div>
<% end %>
