<!DOCTYPE html>
<html>
<h1>Send your first message to get started</h1>
<a href='#'>
    <div class='first option'>
    <%=
      if @array[0] == nil
        'Admin? Add a message'
      else
        @array[0].text
      end
      %>
    </div></a>
    <a href='#'><div class='second option'>
      <%=
      if @array[1] == nil
        'Admin? Add a message'
      else
        @array[1].text
      end
      %>
    </div></a>
    <a href='#'><div class='third option'>
      <%=
      if @array[2] == nil
        'Admin? Add a message'
      else
        @array[2].text
      end
      %>
    </div></a>
  </div>
  <div class='options'>
    <a href='#'><div class='fourth option'>
      <%=
      if @array[3] == nil
        'Admin? Add a message'
      else
        @array[3].text
      end
      %>
    </div></a>
    <a href='#'><div class='fifth option'>
      <%=
      if @array[4] == nil
        'Admin? Add a message'
      else
        @array[4].text
      end
      %>
    </div></a>
    <a href='#'><div class='sixth option'>
      <%=
      if @array[5] == nil
        'Admin? Add a message'
      else
        @array[5].text
      end
      %>
</html>
