<!DOCTYPE html>
<html>

  <div class="message-area">
    <%= render 'opening_message' %>

    <%= render 'stage_one_messages' %>

    <%= render 'stage_two_messages' %>

    <%= render 'stage_three_messages' %>

    <%= render 'lose_game_area' %>

    <%= render 'win_game_area' %>

  </div>

  <div class="chat-area">

    <%= render 'first_message' %>

    <%= render 'first_reply' %>

    <%= render 'stage_one_message_display' %>

    <%= render 'stage_one_reply_display' %>

    <%= render 'stage_two_message_display' %>

    <%= render 'stage_two_reply_display' %>

    <%= render 'stage_three_message_display' %>

    <%= render 'stage_three_reply_display' %>

  </div>

</html>
