<!DOCTYPE html>
<html>
  <body>
    <h1>Boring Chatbot Admin</h1>
    <% if user_signed_in? %>
      <div class="first-message-area">
        First messages
        <% @first_messages.each do |message| %>
          <div class="message">
              <%= message.text %>
            <% end %>
          </div>
      </div>
      <div class="first-reply-area">
        First replies
        <% @first_replies.each do |reply| %>
          <div class="message">
              <%= reply.text %>
            <% end %>
          </div>
      </div>
      <div class="level-one-message-area">
        Stage one messages
        <% @stage_one_messages.each do |message| %>
          <div class="message">
              <%= message.text %>
            <% end %>
          </div>
      </div>
    <% else %>
      <div class="sign-in-area">
        <h1>Sign in</h1>
          <p class="sign-in-text">To make changes to the chatbot's logic and the messages and replies, you will need to either log in or sign up below.</p>
          <%= link_to "Sign in", '/users/sign_in' %>
        <%= link_to "Sign up", '/users/sign_up' %>
    <% end %>
    </div>

  </body>
</html>
