<!DOCTYPE html>
<html>
  <head>
    <title>BoringChatbot</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>
    <header>
      <ul>
        <li class="logo">
          <%= link_to "Boring Chatbot", root_path %>
        </li>
        <% if !current_page?(admin_path)%>
        <li>
          <%= link_to "Admin area", admin_path %>
        </li>
        <% elsif user_signed_in? %>
        <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
        <% end %>
      </ul>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
    </footer>
  </body>
</html>
