<!DOCTYPE html>
<html>
  <head>
    <title>BoringChatbot</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
      <li>
        <%= link_to "Sign in", '/users/sign_in' %>
      </li>
      <li>
        <%= link_to "Sign up", '/users/sign_up' %>
      </li>
    </ul>
    <%= yield %>
  </body>
</html>
