<!DOCTYPE html>
<html>
  <head>
    <title>BoringChatbot</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Anton|BioRhyme|Dosis|Merriweather|Poppins|Open+Sans:800i" rel="stylesheet">
    <script
      src="https://code.jquery.com/jquery-2.2.4.min.js"
      integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
      crossorigin="anonymous">
    </script>
  </head>
  <body>
    <header>
      <ul>
        <li class="logo">
          <%= link_to "Boring Chatbot", root_path %>
        </li>
        <% if !current_page?(admin_path)%>
        <li id="admin-area">
          <%= link_to "Admin area", admin_path %>
        </li>
        <% elsif user_signed_in? %>
        <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
        <% end %>
      </ul>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
    </footer>
  </body>
</html>
